.appBody {
  background-color: #cccccc;
  align-content: center;
  font-family: "Lexend", sans-serif;
}

.card-img-top { /* IMAGES ON ALL GAMES PAGE */
  width: 300px;
  height: 300px;
}

#root {
  width: 100%;
}

.title { /* ALL GAMES */
  margin-left: 16%;
}

.custom-navbar {
  background-color: #2d6fd2; /* BACKGROUND COLOUR */
}

.navbar-title { /* BOARD GAMES TRACKER */
  color: #ffffff; 
  font-weight: bold; 
}

.custom-navbar .btn {
  color: #ffffff; 
  font-weight: bold; 
  padding: 12px 24px; 
  font-size: 16px; 
}

.custom-navbar .btn:hover {
  background-color: #005bb5; 
}

.custom-navbar .navbar-nav .nav-link {
  color: #ffffff; 
}


.navBar { /* BACKGROUND COLOUR */
  background-color: #0066ff;
  font-family: "Lexend", sans-serif;
}

